body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}
.container{
    width: 90vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: auto;
    background: hsl(212, 45%, 89%);
    box-shadow: 0px 5px 30px hsl(220, 15%, 55%);
}
.component {
    border-radius: 15px;
    width: 16.5em;
    height: 25em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
}

.codeImg {
    width: 15em;
    height: 15em;
    padding: 10px;
    border-radius: 9%;
}

.attribution {
    height: 10em;
    font-family: Arial;
    padding: 0px 8px 10px 8px;
    font-size: 12px;
    text-align: center;
}

.attribution p {
    font-size: 12px;
    padding: 0 10px;
    color: hsl(220, 15%, 55%);
}

.info {
    font-size: 11px;
    font-family: Arial;
    position: absolute;
    bottom: 15px;
}

@media only screen and(width:1400px) {
    .container {
        background: red;
    }
}

@media only screen and (max-width:450px) {
    body {
        background-color: white;
    }

    .container {
        display: grid;
        place-items: center;
        width: 20em;
        height: 29em;
        border-radius: 5px;
        background: hsl(212, 45%, 89%);
        box-shadow: 0px 5px 20px hsl(220, 15%, 55%);
    }

    .info {
        bottom: 5px;
    }
}